In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df_train=pd.read_csv('C:/Users/SAJAN P MENON/Desktop/week-9-case_study/analytics_vidhya_e-commerce gender/train_8wry4cB.csv')
df_test=pd.read_csv('C:/Users/SAJAN P MENON/Desktop/week-9-case_study/analytics_vidhya_e-commerce gender/test_Yix80N0.csv')
print(df_train.shape)
print(df_test.shape)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

FileNotFoundError: ignored

In [0]:
#adding column to differentitate train and test
df_train['train/test']=1
df_test['train/test']=0

In [0]:
df_train.head()

,session_id,startTime,endTime,ProductList,gender,train/test
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,1
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,1
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female,1
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,1
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,1

In [0]:
df_test.head()

,session_id,startTime,endTime,ProductList,train/test
0,u12112,08/12/14 13:36,08/12/14 13:36,A00002/B00003/C00006/D19956/,0
1,u19725,19/12/14 13:52,19/12/14 13:52,A00002/B00005/C00067/D02026/,0
2,u11795,01/12/14 10:44,01/12/14 10:44,A00002/B00002/C00004/D12538/,0
3,u22639,08/12/14 20:19,08/12/14 20:22,A00002/B00003/C00079/D22781/;A00002/B00003/C00...,0
4,u18034,15/12/14 19:33,15/12/14 19:33,A00002/B00001/C00010/D23419/,0

In [0]:
df=pd.concat([df_train,df_test],axis=0,sort=False,ignore_index=True)
df.shape

(15000, 6)

# Splitting ProductList feature

In [0]:
# function to return sub sub Category :
def split_product(x):
    product=[]
    lst=x.split(sep='/')
    for i in lst:
        if i != '':
            if i[0]=='D':
                product.append(i)
            if i[0] not in ['A','B','C','D']:
                if i[1]=='D':
                    product.append(i[1:])
    return(len(list(set(product))))

In [0]:
df['product']=df['ProductList'].apply(split_product)

In [0]:
df.head()

,session_id,startTime,endTime,ProductList,gender,train/test,product
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,1,4
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,1,7
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female,1,1
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,1,3
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,1,2

# new feature - time spent

In [0]:
df['startTime']=pd.to_datetime(df['startTime'])
df['endTime']=pd.to_datetime(df['endTime'])

In [0]:
df['TimeSpent']=df['endTime']-df['startTime']

In [0]:
df.head()

,session_id,startTime,endTime,ProductList,gender,train/test,product,TimeSpent
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,1,4,00:01:00
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,1,7,00:06:00
2,u19037,2014-01-12 15:58:00,2014-01-12 15:58:00,A00002/B00001/C00020/D16944/,female,1,1,00:00:00
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,1,3,00:03:00
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,1,2,00:02:00

#### converting into seconds

In [0]:
def sec(x):
    return(x/np.timedelta64(1,'s'))
df['TimeSpent_Seconds']=df['TimeSpent'].apply(sec)
df.head()

,session_id,startTime,endTime,ProductList,gender,train/test,product,TimeSpent,TimeSpent_Seconds
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,1,4,00:01:00,60.0
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,1,7,00:06:00,360.0
2,u19037,2014-01-12 15:58:00,2014-01-12 15:58:00,A00002/B00001/C00020/D16944/,female,1,1,00:00:00,0.0
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,1,3,00:03:00,180.0
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,1,2,00:02:00,120.0

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
session_id           15000 non-null object
startTime            15000 non-null datetime64[ns]
endTime              15000 non-null datetime64[ns]
ProductList          15000 non-null object
gender               10500 non-null object
train/test           15000 non-null int64
product              15000 non-null int64
TimeSpent            15000 non-null timedelta64[ns]
TimeSpent_Seconds    15000 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(3), timedelta64[ns](1)
memory usage: 1.0+ MB

In [0]:
#dropping id,strttime,endtime,timespent
df1=df.drop(columns=['session_id','startTime','endTime','TimeSpent'],axis=1)
df1.head()

,ProductList,gender,train/test,product,TimeSpent_Seconds
0,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,1,4,60.0
1,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,1,7,360.0
2,A00002/B00001/C00020/D16944/,female,1,1,0.0
3,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,1,3,180.0
4,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,1,2,120.0

In [0]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 5 columns):
ProductList          15000 non-null object
gender               10500 non-null object
train/test           15000 non-null int64
product              15000 non-null int64
TimeSpent_Seconds    15000 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 586.0+ KB

# applying term frequency-inverse document frequency

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()

In [0]:
df1.head()

,ProductList,gender,train/test,product,TimeSpent_Seconds
0,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female,1,4,60.0
1,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male,1,7,360.0
2,A00002/B00001/C00020/D16944/,female,1,1,0.0
3,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female,1,3,180.0
4,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male,1,2,120.0

In [0]:
response=tfidf.fit_transform(df1['ProductList']).toarray()

In [0]:
response

array([[0.        , 0.19938399, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.30951474, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.12228193, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.19585584, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.23702449, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.18733957, 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [0]:
x=pd.DataFrame(response.T,index=tfidf.get_feature_names())

In [0]:
df2=x.T

In [0]:
df2.head()

,a00001,a00002,a00003,a00004,a00005,a00006,a00007,a00008,a00009,a00010,...,d36109,d36110,d36111,d36112,d36113,d36114,d36115,d36116,d36117,d36122
0,0.000000,0.199384,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.309515,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.122282,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.170281,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.301495,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
print(df1.shape)
print(df2.shape)

(15000, 5)
(15000, 22360)

In [0]:
df_final1=pd.concat([df1,df2],axis=1,)
df_final1.shape

(15000, 22365)

In [0]:
df_final=df_final1.drop(columns=['ProductList'],axis=1)
df_final.shape

(15000, 22364)

# final dataframe

In [0]:
df_final.head()

,gender,train/test,product,TimeSpent_Seconds,a00001,a00002,a00003,a00004,a00005,a00006,...,d36109,d36110,d36111,d36112,d36113,d36114,d36115,d36116,d36117,d36122
0,female,1,4,60.0,0.000000,0.199384,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,male,1,7,360.0,0.309515,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,female,1,1,0.0,0.000000,0.122282,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,female,1,3,180.0,0.000000,0.170281,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,male,1,2,120.0,0.301495,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
df_tr=df_final[df_final['train/test']==1]
df_ts=df_final[df_final['train/test']==0]
df_tr1=df_tr.drop(columns=['train/test'])
df_ts1=df_ts.drop(columns=['train/test'])
print(df_tr.shape)
print(df_ts.shape)
print(df_tr1.shape)
print(df_ts1.shape)

(10500, 22364)
(4500, 22364)
(10500, 22363)
(4500, 22363)

# trying Random forrest classifier

In [0]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()

In [0]:
train=df_tr1.copy()
test=df_ts1.drop(columns=['gender'])
print(train.shape)
print(test.shape)

(10500, 22363)
(4500, 22362)

#### one hot encoding of gender in train data

In [0]:
cat_cols=train.select_dtypes(include='object').columns
cat_cols

Index(['gender'], dtype='object')

In [0]:
train['gender']=train['gender'].replace({'female':0,'male':1})
train['gender']=train['gender'].astype('int64')

In [0]:
train['gender'].describe()

count    10500.000000
mean         0.219810
std          0.414137
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: gender, dtype: float64

In [0]:
y=train['gender']
x=train.drop(columns=['gender'],axis=1)

In [0]:
rf.fit(x,y)

C:\sajan\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
y_pred=rf.predict(test)

In [0]:
r1=df_test['session_id']
r2=pd.DataFrame(y_pred,columns=['gender'])
r2['gender']=r2['gender'].replace({0:'female',1:'male'})
result=pd.concat([r1,r2],axis=1)
result.head()
#result.to_csv('C:/Users/SAJAN P MENON/Desktop/week-9-case_study/analytics_vidhya_e-commerce gender/upload_1.csv')

  session_id  gender
0     u12112  female
1     u19725  female
2     u11795  female
3     u22639  female
4     u18034  female

# Support Vector Machine

In [0]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x,y)

C:\sajan\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
y_pred=svc.predict(test)

In [0]:
r1=df_test['session_id']
r2=pd.DataFrame(y_pred,columns=['gender'])
r2['gender']=r2['gender'].replace({0:'female',1:'male'})
result=pd.concat([r1,r2],axis=1)
result.head()
result.to_csv('C:/Users/SAJAN P MENON/Desktop/week-9-case_study/analytics_vidhya_e-commerce gender/upload_2_svm.csv')

# Naive Bayes

In [0]:
train.head()

,gender,product,TimeSpent_Seconds,a00001,a00002,a00003,a00004,a00005,a00006,a00007,...,d36109,d36110,d36111,d36112,d36113,d36114,d36115,d36116,d36117,d36122
0,0,4,60.0,0.000000,0.199384,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,7,360.0,0.309515,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,0.0,0.000000,0.122282,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,3,180.0,0.000000,0.170281,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,2,120.0,0.301495,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### standardizing before applying

In [0]:
train['gender'].describe()

count    10500.000000
mean         0.219810
std          0.414137
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: gender, dtype: float64

In [0]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
trains=ss.fit_transform(train)

In [0]:
y=train['gender']
x=train.drop(columns=['gender'],axis=1)

In [0]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(x,y)

MemoryError:

In [0]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
train=ss.fit_transform(train)